.header
    .header-left
        .company
            .company-logo
                img(src='/assets/images/MADINA logotype hijau.png' alt='' srcset='')
            .company-info
                .company-name CV Madina Kebab
                .company-address Jl. Kemuning Raya Gg. VI Rt004 Rw005, Kel. Bojong Menteng, Kec. Rawalumbu, Kota Bekasi 17117 Indonesia
                small   website: madinakebab.id
        .billto Kepada : <strong> 10518 - Indra A S (Gasskeun Kebab)</strong>
    .header-right
        span.title Sales Order <p> 01/02/2025 09:13:08</p>
    
        table.invoice
            tr
                td Nomor SO
                td :&nbsp;&nbsp;
                td 
                    strong MKB202511-18013
            tr
                td Tanggal SO
                td :&nbsp;&nbsp;
                td 18/12/2025
            tr
                td Tanggal Kirim 
                td :
                td 19/12/2025
            tr 
                td Kasir
                td :&nbsp;&nbsp;
                td 
                    strong Sandi K W
            tr
                td Pembayaran
                td : 
                td 
                    strong COD/Transfer
            tr
                td Sales
                td :&nbsp;&nbsp;
                td 
                    strong MKB-Ahmad Nurzaeni 
            tr
                td Qty. Barang
                td :&nbsp;&nbsp;
                td 352pcs | ±704kg