@page {
  size: 9.5in 5.5in;
  margin-left: 18mm;
  margin-right: 3mm;
  margin-bottom: 5mm;
  margin-top: 5mm;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  min-height: 100vh;
  width: 100%;
}

.print-area {
  background-color: white;
  margin: 0;
  width: 9.5in;
  min-height: 5.5in;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  color: #000;
}
tr {
  page-break-inside: avoid;
}

.page {
  padding: 0.19in 0.51in;
  width: 100%;
  height: 100%;
}
.page-break {
  break-after: page;
  margin-top: 0.19in;
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 10px;
  gap: 30px;
}
.header-left {
  display: flex;
  flex-direction: column;
}

.company {
  display: flex;
  flex-direction: row;
  font-size: 15px;
  border-bottom: #000 2px solid;
  align-items: center;
  padding-bottom: 10px;
}

.company-logo {
  margin-left: 15px;
  margin-right: 15px;
  width: 70%;
}

.company-logo img {
  width: 100%;
  height: auto;
}
.company-info {
  display: flex;
  flex-direction: column;
}
.company-name {
  font-size: 20px;
  font-weight: bold;
  line-height: 20px;
}
.company-address {
  font-size: 12px;
}

.company-info small {
  margin-top: 3px;
  font-size: 11px;
}

.header-left {
  display: flex;
  width: 55%;
}

.header-right {
  display: flex;
  flex-direction: column;
  gap: 3px;
  width: 45%;
}
.header-right span.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 23px;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  padding-top: 3px;
}
.header-right span.title p {
  font-size: 11px;
  font-weight: normal;
}
table.info tr.delivered td{
    border: 1px solid #000;
    padding: 5px;
}
/* table.info td {
  padding: 2px 0;
} */
.billto {
  border-bottom: #000 2px solid;
  padding-top: 5px;
  padding-bottom: 5px;
  height: max-content;
  /* width: 55%; */
}

.address {
  margin-top: 5px;
  line-height: 17px;
  padding: 1px 5px;
  border: 1px solid #000;
}

/* TABLE */
table.items {
  width: 100%;
  border-collapse: collapse;
  margin-top: 2px;
}

table.items th {
  border-bottom: 2px solid #000;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  padding: 3px;
}
/* table.items th, */
table.items td {
  border: 1px solid #000;
  padding: 3px;
}

table.items th {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

/* FOOTER BAWAH TABLE */
.footer {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  page-break-inside: avoid;
}

.kasir {
  width: 30%;
}

table th,
table td {
  vertical-align: middle !important;
}

table.signature{
    width: 100%;
}
table.signature td{
    border: 1px solid #000;
    padding: 3px;
    width: 25%;
}
table.signature tr.signature-area td{
    height: 35px;
}

table.signature td[colspan="3"]{
    border: none;
}
/* PRINT COLOR */
@media print {
  body {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
  .limit-text{
    -webkit-line-clamp: 2;
  }
}


.limit-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Number of lines to show */
  -webkit-box-orient: vertical;
}