doctype html
head
  meta(charset='UTF-8')
  title Delivery Note
  link(rel="stylesheet", href="/assets/css/reset.css")
  link(rel="stylesheet", href="/assets/css/delivery-note.css")
body
    .print-area
        .page
            // HEADER
            .header
                .header-left
                    .company
                        .company-logo
                            img(src='/assets/images/MADINA logotype hijau.png' alt='' srcset='')
                        .company-info
                            .company-name CV Madina Kebab
                            .company-address Jl. Kemuning Raya Gg. VI Rt004 Rw005, Kel. Bojong Menteng, Kec. Rawalumbu, Kota Bekasi 17117 Indonesia
                            small   website: madinakebab.id
                    .billto Kepada : <strong> 10518 - Indra A S (Gasskeun Kebab)</strong>
                    .address.limit-text Alamat : Orchid Garden Cluster Jl Orchid Garden Boulevard OGB No. 2 Galaxy City Rt. 006 Rw. 015 Jakasetia Bekasi Selatan jawa timur depok surabaya
                .header-right
                    //- title with print timestamp
                    span.title Delivery Note <p> 01/02/2025 09:13:08</p>
                
                    table.info

                        tr
                            td Nomor DN
                            td :&nbsp;&nbsp;
                            td 
                                strong MKB-DN202511-18013
                        tr
                            td Nomor SO
                            td :&nbsp;&nbsp;
                            td 
                                strong MKB202511-18013
                        tr
                            td Tanggal Kirim 
                            td :
                            td 19/12/2025
                        tr 
                            td Gudang
                            td :&nbsp;&nbsp;
                            td 
                                strong Rafly R
                        tr
                            td Pembayaran
                            td : 
                            td 
                                strong COD/Transfer
                        tr
                            td Metode Kirim
                            td : 
                            td 
                                strong Antar
                        tr
                            td Qty. Barang
                            td :&nbsp;&nbsp;
                            td 352pcs | ±704kg
                        tr.delivered
                            td(colspan=2) Tiba :
                            td Selesai : &nbsp;
            // TABLE
            table.items
                thead
                    tr
                        th No.
                        th Barang
                        th Rincian
                        th Qty.
                        th Checker
                tbody
                    each val in [1, 2, 3, 4,5, 6, 7]
                        tr
                            td(style="width:10px").text-right=val
                            td Kebab II Mix 2kg
                            td Tukar Tiang
                            td.text-center 2
                            td
            // FOOTER
            .footer
                table.signature
                    tr.signature-area
                        td
                        td
                        td
                        td(colspan=2)
                    tr
                        td Gudang :
                        td Checked By :
                        td Supir / Kurir : 
                        td(colspan=2) Penerima :
                    tr
                        td(colspan=2) Serah SO & DN : Putih - Merah - Tidak
                        td Tarif : 
                        td(colspan=2) Ada Pembayaran : Ya - Tidak
                    tr
                        td(colspan=2, ) Menerima tukar / kembali tiang : Ya - Tidak
                        td Tiang :
                        //- td(width="10%") Tiang :
                        //- td(width="15%") Piringan :
                        td(colspan=2, rowspan=2) Tunai :
                    tr
                        td(colspan=2) Hitung tiang di : Pelanggan - Gudang Madina
                        td Piringan :